@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 80% 5%;
    --foreground: 0 0% 98%;

    --card: 205 90% 5%;
    --card-foreground: 0 0% 98%;

    --popover: 205 90% 5%;
    --popover-foreground: 0 0% 98%;

    --primary: 188 96% 44%;
    --primary-foreground: 188 100% 10%;

    --secondary: 193 94% 28%;
    --secondary-foreground: 0 0% 98%;

    --muted: 215 14% 34%;
    --muted-foreground: 220 9% 65%;

    --accent: 193 94% 28%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 193 94% 18%;
    --input: 210 78% 10%;
    --ring: 188 96% 54%;

    --chart-1: 188 96% 44%;
    --chart-2: 193 94% 28%;
    --chart-3: 210 80% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .glassmorphic {
    @apply bg-card/40 border border-secondary/30 backdrop-blur-lg;
  }
  .glow-primary {
    @apply shadow-[0_0_5px_theme(colors.primary),0_0_10px_theme(colors.primary/30)];
  }
  .glow-secondary {
    @apply shadow-[0_0_5px_theme(colors.secondary),0_0_10px_theme(colors.secondary/30)];
  }
}
